@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap');

body{
    
    background-image: linear-gradient(300deg, #207ba5 10%, #000000 90%);
    background-size: cover; 
}

/* Navbar */

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Big Shoulders Stencil Display', cursive;
    margin-bottom: 100px;
}

.home:hover {
    text-decoration: underline;
}

.scores:hover {
    text-decoration: underline;
}

/* Hamburger Button */
.btn-color{
    color: #fff;
}

#navbar-brand {
    padding-left: 10px;
}


#navigation li a {
    padding: 0;
    margin-right: 30px;
    line-height: 60px;
    font-size: 22px;  
    font-weight: 700;
    margin-left: 20px;
    width: 100%;
    color: #fff;
}


/* Simon game circle */

.toggle{
    margin-left: 20px;
    margin-right: 20px;
}

.button {
  border-radius: 50% !important;
  font-size: 1.6em;
  background-color: #fff;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 9px #999;
  background-color: rgb(182, 182, 182);
  border: none;
  cursor: pointer;
  outline: none;
} 

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover{
    background-color: #BBC2CC;
    color: #1291CF;
    font-weight: 600;
}


#switches {
  position: absolute;
  margin-left: 26px;
  margin-top: 110px;
}


.text2 {
  position: absolute;
  margin-left: 92px;
  margin-top: 200px;
  color: #1291CF;
  font-weight: 900;
}

.text1 {
  position: absolute;
  margin-left: 40px;
  margin-top: 152px;
  color: #1291CF;
  font-weight: 900;
}


.text1 span:last-child {
  padding-left: 100px;
}

#title {
  font-family: 'Big Shoulders Stencil Display', cursive;  
  position: absolute;
  font-size: 65px;
  margin-left: 35px;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #1291CF;
}

#turn {
  position: absolute;
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-left: 92px;
  margin-top: 175px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

/* big circle */
#outer-circle {
  background: #385a94;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: relative;
  border-style: solid;
  border-width: 10px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 8px 8px 15px 5px #C0C0C0;
  border-color: #BBC2CC;
}

/* left side (color green) */
#topleft {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  background: darkgreen;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* right side (color red) */
#topright {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 250px 0 0;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  background: darkred;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* left side (color yellow) */
#bottomleft {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 0 250px;
  -moz-border-radius: 0 0 0 250px;
  -webkit-border-radius: 0 0 0 250px;
  background: goldenrod;
  top: 50%;
  left: 50%;
  margin: 0px -250px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* right side (color blue) */
#bottomright {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 250px 0;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0;
  background: darkblue;
  top: 50%;
  left: 50%;
  margin: 0px 0px -250px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* small circle */
#inner-circle {
  position: absolute;
  background: #000;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 10px;
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px -125px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}