@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap');

html {
    height: 100%;
    width: 100%;
}


body {
  display: flex;
  justify-content: center;
  font-family: 'Big Shoulders Stencil Display', cursive;
  background-color: rgb(77, 62, 62);
  margin: 0;
  padding: 0;
  cursor: default;
  height: 100%;
}

#background-image {
    background: url('https://i.imgur.com/jUU6wPK.jpg') no-repeat center center fixed;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

/* Navbar */

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Big Shoulders Stencil Display', cursive;
    margin-bottom: 500px;
}

.home:hover {
    text-decoration-line: underline;
}

.scores:hover {
    text-decoration: underline;
}



/* Hamburger Button */
.btn-color{
    color: #fff;
}

#navbar-brand {
    padding-left: 10px;
}


#navigation li a {
    padding: 0;
    margin-right: 30px;
    line-height: 60px;
    font-size: 22px;  
    font-weight: 700;
    margin-left: 20px;
    width: 100%;
    color: #fff;
}


/* Simon game */

/* switches */
.toggle{
    margin-left: 20px;
    margin-right: 20px;
    width: 25px;
    height: 25px;
    box-shadow: 0 5px #666;    
}

.toggle:active {
  transform: translateY(4px);
}

.button {
  font-family: 'Big Shoulders Stencil Display', cursive;
  border-radius: 65%;
  font-size: 2.6em;
  color: #fff;
  box-shadow: 0 9px #999;
  background-color: rgb(182, 182, 182);
  border: none;
  cursor: pointer;
  outline: none;
  width: 150px;
} 

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover{
    background-color: #BBC2CC;
    color: rgb(40, 174, 252);
}

#switches {
  position: absolute;
  margin-left: 50px;
  margin-top: 30px;
}


.text2 {
  margin-left: 170px;
  margin-top: 60px;
  color: rgb(40, 174, 252);;
  font-weight: 900;
  font-size: 1.4em;
  font-family: 'Big Shoulders Stencil Display', cursive;
}

.text1 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  margin-left: 68px;
  margin-top: 120px;
  color: rgb(40, 174, 252);;
  text-transform: uppercase;
  font-size: 1.6em;
}


.text1 span:last-child {
  padding-left: 100px;
  margin-left: 80px;
}

/* Title */
#title {
  font-family: 'Big Shoulders Stencil Display', cursive;  

  font-size: 65px;

  color: rgb(40, 174, 252);;
}

/* Score */
#turn {
  position: absolute;
  background: #330000;
  color: #ff0000;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 30px;
  height: 60px;
  width: 70px;
  margin-left: 162px;
  margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}


.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none !important;
}

.heading {
  font-size: 3em;
  text-align: center;
  margin-top: 150px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: rgb(40, 174, 252);;
  text-transform: uppercase;
}

/* Squares */
.tile-container {
  display: grid;
  grid-template-rows: 180px 180px;
  grid-template-columns: 180px 180px;
  grid-gap: 25px;
  position: relative;
  margin-top: 150px;
  margin-bottom: 30px;
}

.unclickable {
  pointer-events: none;
}


/* Green Square */
#topleft {
  background-color: #7fba00;
  box-shadow: 0 0 0 1px #7fba00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #638f05, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}
/* Green Square */
#topleft:hover,
#topleft:focus {
  background-color: #8cc218;
  box-shadow: 0 0 0 1px #8cc218 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #74a802, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6)
}
/* Green Square */
#topleft:active,
#topleft.activated {
  box-shadow: 0 0 0 1px #a0ea00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #a0ea00;
  transform: translateY(10px);
}
/* Red Square */
#topright {
  background-color: #f25022;
  box-shadow: 0 0 0 1px #f25022 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}
/* Red Square */
#topright:hover,
#topright:focus {
  background-color: #ff451a;
  box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}
/* Red Square */
#topright:active,
#topright.activated {
  box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ff5c36;
  transform: translateY(10px);
}
/* Blue Square */
#bottomright {
  background-color: #00a4ef;
  box-shadow: 0 0 0 1px #00a4ef inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #0883bc, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}
/* Blue Square */
#bottomright:hover,
#bottomright:focus {
  background-color: #139ddd;
  box-shadow: 0 0 0 1px #139ddd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #0c7cb0, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}
/* Blue Square */
#bottomright:active,
#bottomright.activated {
  box-shadow: 0 0 0 1px #2bbcff inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #2bbcff;
  transform: translateY(10px);
}
/* Yellow Square */
#bottomleft {
  background-color: #ffb900;
  box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}
/* Yellow Square */
#bottomleft:hover,
#bottomleft:focus {
  background-color: #ffb900;
  box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
/* Yellow Square */
#bottomleft:active,
#bottomleft.activated {
  box-shadow: 0 0 0 1px #ffca3d inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ffca3d;
  transform: translateY(10px);
}

.start-button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

@media screen and (max-width: 550px) {
  .game {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading {
    font-size: 2em;
  }

  .tile-container {
    width: 100%;
    height: 100%;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
  }
}

/* Ranking Section */
.ranking{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Big Shoulders Stencil Display', cursive; 
}

.ranking-name{
    margin-top: 60px;
    margin-bottom: 30px;
    color: #fff;
}

.ranking-score{
    margin-top: 60px;
    margin-bottom: 30px;
    color: #fff;
}

.ranking-list{
    border: 1px solid #ff0000;
    margin-bottom: 8px;
    color: #fff;
}
